body {
  background-color: #ffcc66;
  background-image: url("");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: left center;
  background-size: contain;
}

center {
  background-image: url("");
  text-align: left;
  background-color: #7d89a5;
  float: none;
}

p {
  font-family: "Calibri";
  font-weight: normal;
  font-size: 25px;
  background-color: transparent;
  color: #24246c;
  text-transform: capitalize;
  float: none;
}

h2 {
  text-align: left;
  font-family: "Calibri";
  color: white;
  background-color: white;
}

form {
  background-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  border-top-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 5px;
  float: none;
}

h1 {
  font-family: "Calibri";
  color: #fdf7fc;
  border-top-color: #666666;
  border-right-color: #666666;
  border-bottom-color: #666666;
  border-left-color: #666666;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  background-color: #595959;
  text-transform: lowercase;
  font-variant: small-caps;
}

img {
  background-color: white;
}

input {
  border-top-color: #ff9900;
  border-right-color: #ff9900;
  border-bottom-color: #ff9900;
  border-left-color: #ff9900;
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  font-family: "Calibri";
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: #ffb230;
}

header {
  background-color: white;
}

